.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 10px 60px;
  height: 60px;
  font-size: 1.6rem;
  font-family: "Bangers", cursive;
  color: #ffffff;
  background-color: #ff0000;
}
.ice .search-bar input {
  background-color: #6aacf6;
}
.fire .search-bar input {
  background-color: #ee8329;
}
.search-bar input::placeholder {
  color: #ffffff;
  opacity: 1;
}
.search-bar button {
  position: absolute;
  left: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
}
