.poke-button {
  background-color: #cc0000;
  color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Bangers", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.poke-button svg {
  margin-left: 10px;
  transition: all 0.3s;
}

.poke-button:hover {
  background-color: #f40808;
}

.poke-button:hover svg {
  transform: rotate(360deg);
}
